<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.dao.mapper.user.CurioCityTagMapper" >
  <resultMap id="BaseResultMap" type="com.jd.entity.user.CurioCityTag" >
    <result column="tag_id" property="tagId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.jd.entity.user.CurioCityTag" >
    insert into curio_city_tag (tag_id, shop_id)
    values (#{tagId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.entity.user.CurioCityTag" >
    insert into curio_city_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>