<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	   default-lazy-init="true">

	<description>Spring公共配置 </description>
	
	<!-- 引入Spring的公用配置，包括数据源、注解解析和事务管理 -->
	<import resource="classpath*:/config/spring-commons.xml"/>
	<!-- 引入Spring的自定义的配置-->
	<import resource="classpath*:/config/spring-customize.xml"/>

</beans>